body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
  }
  #nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  #form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Ajusta la altura según tus preferencias */
    background-color: #f0f0f0; /* Fondo de color gris claro, puedes cambiarlo según tu diseño */
  }
  
  #video {
    width: 80%; /* Ajusta el ancho del video según tus preferencias */
    max-width: 800px; /* Establece un ancho máximo para el video */
  }
  
  
  #email {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  #submit {
    padding: 12px 20px;
    background-color: #4b2d5b; /* Color verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #submit:hover {
    background-color: #4b2d5b; /* Color verde más oscuro al hacer hover */
  }
  
  /* Estilos adicionales para hacer el formulario más atractivo */
  #form {
    max-width: 300px; /* Limita el ancho del formulario para que no se extienda demasiado */
    margin: 0 auto; /* Centra el formulario en la página */
    text-align: center;
  }
  
  /* Estilos adicionales para hacer el formulario más responsivo en dispositivos pequeños */
  @media only screen and (max-width: 600px) {
    #form {
      max-width: 100%; /* Utiliza el ancho completo en dispositivos pequeños */
    }
  }
  
  .logo img {
    width: 300px; /* Ajusta el tamaño según tus preferencias */
    height: auto; /* Mantiene la proporción del logo */
  }
  
  #nav-bar li {
    margin-right: 15px; /* Ajusta el espaciado entre los elementos según tus preferencias */
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #603c78; /* Morado más oscuro al hacer hover */
  }
  
  .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #9479af; /* Morado pastel */
    color: white;
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #nav-bar {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin: 0 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #603c78; /* Morado más oscuro para resaltar */
  }
  
  #hero {
    text-align: center;
    padding: 4rem 2rem;
    background-color: #d1c4e9; /* Morado pastel */
  }
  
  form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    padding: 4rem 2rem;
  }
  
  .grid {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .icon {
    background-color: #9479af; /* Morado pastel */
    color: white;
    padding: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 50%;
  }
  
  .desc {
    flex: 1;
  }
  
  #how-it-works {
    background-color: #d1c4e9; /* Morado pastel */
    padding: 4rem 2rem;
  }
  
  .product {
    background-color: #9479af; /* Morado pastel */
    color: white;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 8px;
    text-align: center;
  }
  
  .btn {
    background-color: #603c78; /* Morado más oscuro */
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #4b2d5b; /* Morado más oscuro al hacer hover */
  }
  
  footer {
    background-color: #9479af; /* Morado pastel */
    padding: 2rem;
    text-align: center;
    color: white;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  footer ul li {
    margin: 0 1rem;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #603c78; /* Morado más oscuro al hacer hover */
  }
  